$scale-factor: 1.025; // Factor by which the element grows on hover
$transition-duration: 0.2s; // Duration of the transition effect

.container {
  display: grid;
  font-family: "Century Gothic", sans-serif;
}

.description {
  padding: 2.5% 5% 5% 5%;
}

.title {
  display: flex;
}

.resume {
  display: flex;
}

.about {
  display: flex;
}

.sub-title {
  display: flex;
  font-weight: bold;
}

.button {
  font-family: "Century Gothic", sans-serif;
  background-color: transparent;
  border: solid 1px black;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.sub-title-description {
  display: grid;
}

/* Medium/Small devices (tablets/phones, 768px and below) */
@media (max-width: 768px) {

  .title {
    font-size: 40px;
  }

  .resume {
    padding-top: 5%;
    font-size: 25px;
  }

  .about {
    padding-top: 5%;
    font-size: 16px;
    align-items: flex-start; /* Align items to the top of the flex container */
    display: grid;
    flex-direction: column;
  }

  .about-section {
    align-items: flex-start; /* Align items to the top of the flex container */
    display: grid;
    flex-direction: column;
  }

  .description {
    order: 2; /* Change order to display description below */
  }

  .picture {
    width: 100%;
    object-fit: contain; /* This property ensures the image maintains its aspect ratio */
    align-items: flex-start; /* Align items to the top of the flex container */

  }

  .picture-2 {
    width: 100%;
    object-fit: contain; /* This property ensures the image maintains its aspect ratio */
    align-items: flex-start; /* Align items to the top of the flex container */
    order: 3;
  }

  .button {
    padding: 2.5%;
    margin-top: 3.5%;
  }

  .sub-title-description {
    padding-top: 2%;
  }

  .sub-title {
    font-size: 17px;
    margin-top: 6.5%;
  }

  .sub-title-button {
    padding: 2%;
    margin-top: 2.5%;
  }

  .first-paragraph {
    margin-top: 3.5%;
  }
}

/* Large devices (desktops, 992px and below) */
@media (min-width: 769px) and (max-width: 992px) {
  .summary {
    display: flex;
    align-items: flex-start; /* Align items to the top of the flex container */

  }

  .picture {
    width: auto;
    max-width: 50%;
    max-height: 40vh;
    transition: transform $transition-duration ease-in-out;
    object-fit: contain; /* This property ensures the image maintains its aspect ratio */
    align-items: flex-start; /* Align items to the top of the flex container */

    &:hover {
      transform: scale($scale-factor);
    }
  }

  .picture-2 {
    max-height: 71vh;
    width: auto;
    max-width: 50%;
    margin-left: 5%;
    object-fit: contain; /* This property ensures the image maintains its aspect ratio */
    transition: transform $transition-duration ease-in-out;
    align-items: flex-start; /* Align items to the top of the flex container */

    &:hover {
      transform: scale($scale-factor);
    }
  }

  .title {
    font-size: 40px;
  }

  .button {
    padding: 5%;
    margin-top: 7%;

    &:hover {
      background-color: gray;
      color: white;
      border: solid 1px gray;
    }
  }

  .resume {
    padding-top: 5%;
    font-size: 25px;
  }

  .about {
    padding-top: 5%;
    font-size: 16px;
  }

  .sub-title-description {
    padding-top: 3.5%;
  }

  .sub-title {
    font-size: 17px;
    padding-top: 10%;
  }

  .sub-title-button {
    padding: 4%;
    margin-top: 3%;
  }

  .about-section {
    align-items: flex-start; /* Align items to the top of the flex container */
    display: flex;
  }

  .first-paragraph {
    margin-top: 7.5%;
  }

  .second-paragraph {
    margin-top: 3%;
  }

}

/* Extra large devices (large desktops, 993px and above) */
@media (min-width: 993px) {
  .summary {
    display: flex;
    align-items: flex-start; /* Align items to the top of the flex container */

  }

  .picture {
    max-height: 71vh;
    width: auto;
    max-width: 40%;
    margin-right: 10%;
    object-fit: contain; /* This property ensures the image maintains its aspect ratio */
    transition: transform $transition-duration ease-in-out;
    align-items: flex-start; /* Align items to the top of the flex container */

    &:hover {
      transform: scale($scale-factor);
    }
  }

  .picture-2 {
    max-height: 71vh;
    width: auto;
    max-width: 40%;
    margin-left: 5%;
    object-fit: contain; /* This property ensures the image maintains its aspect ratio */
    transition: transform $transition-duration ease-in-out;
    align-items: flex-start; /* Align items to the top of the flex container */

    &:hover {
      transform: scale($scale-factor);
    }
  }

  .button {
    padding: 2.1%;
    margin-top: 4%;

    &:hover {
      background-color: gray;
      color: white;
      border: solid 1px gray;
    }
  }

  .title {
    font-size: 65px;
  }

  .resume {
    padding-top: 5%;
    font-size: 25px;
  }

  .about {
    padding-top: 5%;
    font-size: 16px;
  }

  .sub-title-description {
    padding-top: 2%;
  }

  .sub-title {
    font-size: 17px;
    padding-top: 7.5%;
  }

  .sub-title-button {
    padding: 1.5%;
    margin-top: 2%;
  }

  .about-section {
    align-items: flex-start; /* Align items to the top of the flex container */
    display: flex;
  }

  .first-paragraph {
    margin-top: 7.5%;
  }
}
