<div class="container">
  <div class="summary">
    <div class="description">
      <span class="title">Hey, I'm Lorin.</span>
      <span class="resume">I venture deep into the wilderness in the dead of night to capture scenes that inspire beauty and wonder.</span>
      <span class="about">
        I am a self-taught nature and landscape photographer operating out of Northern Virginia. I am drawn to the challenge and complexity of pushing my camera to its technical limits and specialize in photography that incorporates astrophotography, long-exposures, HDR composites, and infrared photography.
      </span>
      <span class="about">
        My love of photography grew out of a lifelong passion for hiking and backpacking. Hiking allows me to escape the city to experience self-reliance and adventure, while photography allows me to share the fruits of that adventure. Both involve a considerable degree of technical planning, patience, and discipline, but the rewards can be phenomenal: I am awestruck whenever I finally emerge over a peak to see a remote valley, a brilliant sunset, or the endless expanse of the Milky Way. My goal as an artist is to use my camera to capture these moments and convey this sense of wonder to the world.
      </span>
    </div>
    <img class="picture" src="assets/about-me/about-1.jpg" alt="about-me-1">
  </div>
  <div class="about">
    <img class="picture-2" src="assets/about-me/about-2.jpg" alt="about-me-1">
    <div class="description">
        <span class="title">Hey, I'm Lorin.</span>
        <span class="resume">I venture deep into the wilderness in the dead of night to capture scenes that inspire beauty and wonder.</span>
        <span class="about">
        I am a self-taught nature and landscape photographer operating out of Northern Virginia. I am drawn to the challenge and complexity of pushing my camera to its technical limits and specialize in photography that incorporates astrophotography, long-exposures, HDR composites, and infrared photography.
      </span>
        <span class="about">
        My love of photography grew out of a lifelong passion for hiking and backpacking. Hiking allows me to escape the city to experience self-reliance and adventure, while photography allows me to share the fruits of that adventure. Both involve a considerable degree of technical planning, patience, and discipline, but the rewards can be phenomenal: I am awestruck whenever I finally emerge over a peak to see a remote valley, a brilliant sunset, or the endless expanse of the Milky Way. My goal as an artist is to use my camera to capture these moments and convey this sense of wonder to the world.
      </span>
    </div>

  </div>
</div>
