<div class="container" *ngIf="!loadingService.getLoading()">
  <div class="summary">
    <div class="description">
      <span class="title">Hey, I'm Lorin.</span>
      <span class="resume">
I immerse myself in the vibrant streets and serene natural landscapes, seeking to encapsulate the harmony and contrasts between urban architecture and the wonders of the natural world.      </span>
      <span class="about">
        I am a budding photographer hailing from Romania, passionately delving into the realms of cityscapes, nature, and the captivating essence of human connection through portraits. My journey into professional photography stems from a deep-seated love for the outdoors, where every hike is an opportunity to cherish fleeting moments and capture the essence of life.
Yet, it's not just the raw beauty of nature that draws my gaze; it's also the captivating allure of human architecture that intrigues me.
      </span>
      <span class="about">
As I navigate the early stages of my artistic pursuit, I find myself drawn to the challenge of pushing my camera to its technical limits, whether it's capturing the interplay of light in urban streets or the beauty of nature. But beyond technical mastery, my true joy lies in freezing moments in time, immortalizing the memories of people, places and encounters that shape my journey. Whether it's the rugged terrain of a mountain trail or the vibrant pulse of a city square, each frame tells a story waiting to be shared with the world.
      </span>
      <button class="button" (click)="navigateToMail()">Get in Touch</button>
    </div>
    <img class="picture fade-in-picture" src="../../../assets/about-me/about-1.jpg" alt="about-me-1">
  </div>
  <div class="about-section">
    <img class="picture-2 fade-in-picture" src="assets/about-me/about-2.jpg" alt="about-me-2">
    <div class="description">
      <span class="title">My experience.</span>
      <span class="first-paragraph sub-title-description">
I am an adept Software Engineer specializing in workflow optimization and the development of front-end and back-end solutions. My dedication to scalability and reliability motivates me to lead efforts in refining systems and implementing efficient solutions across diverse technological landscapes. With a passion for ongoing learning, I contribute expertise in problem-solving, unit testing, and documentation to drive impactful projects forward.
      </span>
      <span class="second-paragraph sub-title-description">
        In addition to my professional pursuits, I am fueled by a fervent passion and ambition for freelancing in web development, where I aspire to bring creative ideas to life and deliver tailored solutions to clients' needs.
      </span>
      <button class="button" (click)="navigateToMail()">Get in Touch</button>
      <span class="sub-title">
        Curriculum vitae:
      </span>
      <button class="button sub-title-button" (click)="downloadCV()">Download CV</button>
    </div>
  </div>
</div>
