.picture-wrapper {
  justify-content: center;
  align-items: center;
  //background-color: red;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.container {
  align-items: center;
  //background-color: pink;
}

.navigation-button {
  cursor: pointer;
}

.picture {
  height: auto;
}

.picture-menu {
  //background-color: yellow;

}

.clickable {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    font-weight: bold;
  }
}

.about {
  font-family: "Century Gothic", sans-serif;
  text-align: center;
}

.buttons {
  display: flex;
}

/* Medium/Small devices (tablets/phones, 768px and below) */
@media (max-width: 768px) {
  .navigation-button {
    width: 20%;
  }

  .exit {
    margin-left: 40%;
  }

  .container {
    display: grid;
  }

  .buttons {
    margin-top: 2.5%;
  }

  .picture-wrapper {
    width: 100%;
  }

  .picture {
    width: 100%;
  }

  .about {
    margin-bottom: 15%;
  }

}

/* Large devices (desktops, 992px and below) */
@media (min-width: 769px) and (max-width: 992px) {
  .container {
    display: flex;
    width: 75vw;
    height: 88vh;
  }

  .navigation-button {
    width: 33%;
  }

  .exit {
    align-self: center;
    height: 90%;
    width: 31%;
    margin-left: 3%;
  }

  .picture {
    max-height: 88vh;
    max-width: 90%;
  }

  .picture-wrapper {
    width: 100%;
    transition: transform 0.3s ease-in-out;
    display: flex;
    //background-color: red;
  }

  .picture-menu {
    width: 25%;
    height: 100%;
    //background-color: yellow;
  }

  .zoom-in {
    cursor: zoom-in;
  }

  .zoom-out {
    cursor: zoom-out;
  }

  .zoomed {
    transform: scale(1.5); /* Adjust scale factor as needed */
  }

  .about {
    margin-top: 35%;
  }
}

/* Extra large devices (large desktops, 993px and above) */
@media (min-width: 993px) {
  .container {
    display: flex;
    width: 75vw;
    height: 88vh;
  }

  .navigation-button {
    width: 33.33%;
  }

  .exit {
    align-self: center;
    height: 90%;
    width: 31%;
    margin-left: 3%;
  }

  .picture {
    max-height: 88vh;
    max-width: 95%;
  }

  .zoom-in {
    cursor: zoom-in;
  }

  .zoom-out {
    cursor: zoom-out;
  }

  .picture-wrapper {
    width: 100%;
    transition: transform 0.3s ease-in-out;
    display: flex;
    //background-color: red;
  }

  .zoomed {
    transform: scale(1.5); /* Adjust scale factor as needed */
  }

  .picture-menu {
    width: 15%;
    height: 100%;
    //background-color: yellow;
  }

  .about {
    margin-top: 50%;
  }
}
