$scale-factor: 1.015; // Factor by which the element grows on hover
$transition-duration: 0.25s; // Duration of the transition effect

/* Animation keyframes for fade-in */
@keyframes fadeIn {
  from {
    opacity: 0; // Start from invisible
    transform: scale(0.95); // Slightly smaller for a pop-in effect
  }
  to {
    opacity: 1; // Fully visible
    transform: scale(1); // Normal size
  }
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Evenly space columns */
  gap: 10px; /* Space between columns */
}

.flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between images */
}

.picture {
  transition: transform $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
  animation: fadeIn 0.5s ease-in; // Apply the fade-in animation with duration and easing
  width: 100%; /* Fill column width */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer;
}

/* Responsive adjustments for different screen sizes */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column; /* Stack columns on smaller screens */
  }
}

/* 3 columns for medium screens */
@media (min-width: 769px) and (max-width: 992px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .picture:hover {
    transform: scale($scale-factor); // Hover effect with scaling
  }
}

/* 5 columns for large screens */
@media (min-width: 993px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .picture:hover {
    transform: scale($scale-factor); // Hover effect with scaling
  }
}
