.container {
  justify-content: center;
  margin: 5% 5% 0 5%;
}

navigation {
  margin-right: 1.5%;

}

view {

}

.picture {
  height: 100%;
  width: 75%;
}

.scroll-to-top-btn {
  position: fixed;
  display: none;
  cursor: pointer;
  z-index: 99;
  bottom: 1%;
  right: 1%;
}

/* Medium/Small devices (tablets/phones, 768px and below) */
@media (max-width: 768px) {
  .container {
    display: grid;
  }

  .scroll-to-top-btn {
    width: 15.5%;
  }
}

/* Large devices (desktops, 992px and below) */
@media (min-width: 769px) and (max-width: 992px) {
  .container {
    display: flex;
  }

  navigation {
    width: 18.5%;
  }

  view {
    width: 80%;
  }

  .scroll-to-top-btn {
    width: 5%;
  }
}

/* Extra large devices (large desktops, 993px and above) */
@media (min-width: 993px) {
  .container {
    display: flex;
  }

  navigation {
    width: 13.5%;
  }

  view {
    width: 85%;
  }

  .scroll-to-top-btn {
    width: 3.5%;
  }
}
