.container {
  justify-content: center;
  margin: 5% 5% 0 5%;
}

navigation {
  margin-right: 1.5%;

}

view {

}

/* Medium/Small devices (tablets/phones, 768px and below) */
@media (max-width: 768px) {
  .container {
    display: grid;
  }
}

/* Large devices (desktops, 992px and below) */
@media (min-width: 769px) and (max-width: 992px) {
  .container {
    display: flex;
  }

  navigation {
    width: 18.5%;
  }
  view {
    width: 80%;
  }
}

/* Extra large devices (large desktops, 993px and above) */
@media (min-width: 993px) {
  .container {
    display: flex;
  }
  navigation {
    width: 13.5%;
  }
  view {
    width: 85%;
  }
}
