$scale-factor: 1.015; // Factor by which the element grows on hover
$transition-duration: 0.1s; // Duration of the transition effect

* {
  &:not(.container, .col) {
    transition: transform $transition-duration ease-in-out;

    &:hover {
      transform: scale($scale-factor);
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1; /* Allow columns to grow and shrink equally */
  max-width: calc(25% - 10px); /* Set maximum width for each column */
}

.picture {
  cursor: pointer;
}

.menu-item {

}

/* Adjustments for medium devices */
@media (max-width: 768px) {
  .col {
    max-width: calc(100% - 10px); /* One columns per row */
  }

  .container {
    justify-content: center;
  }

}

/* Adjustments for large devices */
@media (min-width: 769px) and (max-width: 992px) {
  .col {
    max-width: calc(33.33% - 10px); /* Three columns per row */
  }

  .container {
    justify-content: space-between;
  }
}

/* Adjustments for extra large devices */
@media (min-width: 993px) {
  .col {
    max-width: calc(20% - 10px); /* Five columns per row */
  }

  .picture {
    margin-bottom: 2.5%;
  }

  .container {
    justify-content: space-between;
  }
}

.picture {
  width: 100%; /* Make images fill their containers */
  height: auto; /* Maintain aspect ratio */
}
