$scale-factor: 1.075; // Factor by which the element grows on hover
$transition-duration: 0.2s; // Duration of the transition effect

.container {
  margin-top: 15%;
}

.logo {
  cursor: pointer;
}

.menu-item {
  font-family: "Century Gothic", sans-serif;
  cursor: pointer;
  margin-bottom: 7.5%;
  display: flex;
  justify-content: end;
}

.links {
  display: flex;
}

.links-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
}

.links-icon {
  width: 50%;
}

.logo {
  width: 100%;
}

/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
  .menu-item {
    font-size: 35px;
  }

  .menu {
    margin-top: 15%;
  }

  .links {
    margin-top: 15%;
    margin-bottom: 10%;
  }

  * {
    transition: none;

    &:hover {
      transform: none;
    }
  }
}

/* Large devices (desktops, 992px and below) */
@media (min-width: 769px) and (max-width: 992px) {
  .menu-item {
    font-size: 24px;
  }
  .menu {
    margin-top: 25%;
  }

  .links {
    margin-top: 35%;
  }

  * {
    &:not(.container, .menu, .links) {
      transition: transform $transition-duration ease-in-out;

      &:hover {
        transform: scale($scale-factor);
      }
    }
  }
}

/* Extra large devices (large desktops, 993px and above) */
@media (min-width: 993px) {
  .menu-item {
    font-size: 24px;
  }

  .menu {
    margin-top: 25%;
  }

  .links {
    margin-top: 35%;
  }

  * {
    &:not(.container, .menu, .links) {
      transition: transform $transition-duration ease-in-out;

      &:hover {
        transform: scale($scale-factor);
      }
    }
  }
}
