<div class="container">
  <img src="../../../assets/logo/logo.png" alt="logo" class="logo" routerLink="photography">

  <div class="menu">
    <div class="menu-item" routerLink="photography">
      Photography
    </div>
    <div class="menu-item" routerLink="development">
      Development
    </div>
    <div class="menu-item" routerLink="aboutme">
      About Me
    </div>
    <div class="menu-item" routerLink="contact">
      Contact
    </div>

    <div class="links">
      <div class="links-item">
        <img src="../../../assets/icons/instagram.png" alt="instagram" class="links-icon" (click)="navigateTo('instagram')">
      </div>
      <div class="links-item">
        <img src="../../../assets/icons/flickr.png" alt="flickr" class="links-icon" (click)="navigateTo('flickr')">
      </div>
      <div class="links-item">
        <img src="../../../assets/icons/linkedin.png" alt="linkedin" class="links-icon" (click)="navigateTo('linkedin')">
      </div>
      <div class="links-item">
        <img src="../../../assets/icons/mail.png" alt="mail" class="links-icon" (click)="navigateTo('mail')">
      </div>
    </div>
  </div>
</div>
