$scale-factor: 1.075; // Factor by which the element grows on hover
$transition-duration: 0.2s; // Duration of the transition effect

.container {
  margin-top: 15%;
}

* {
  &:not(.container, .menu, .links, .categories-container, .category-button) {
    transition: transform $transition-duration ease-in-out;

    &:hover {
      transform: scale($scale-factor);
    }
  }
}

.logo {
  cursor: pointer;
  width: 100%;
}

mat-progress-bar {
  margin-top: 5%;
}

.menu-item {
  font-family: "Century Gothic", sans-serif;
  cursor: pointer;
  margin-bottom: 7.5%;
  display: flex;
  justify-content: end;
}

.links {
  width: 100%;
  display: flex !important;
}

.links-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
}

.links-icon {
  width: 65%;
}

.category-button {
  font-family: "Century Gothic", sans-serif;
  background-color: transparent;
  border: solid 1px black !important;
  font-weight: bold;
  cursor: pointer;
  color: black !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  background-color: gray !important;
  color: white !important;
  border: solid 1px gray !important;
}


/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
  .menu-item {
    font-size: 38px;
  }

  .menu {
    margin-top: 15%;
  }

  .links-icon {
    width: 45%;
  }

  .links {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .categories-container {
    width: 100%; // Ensures it doesn't exceed the screen width
    display: flex;
    flex-wrap: wrap; // Allows items to wrap if needed
    justify-content: center; // Centers items within the container
  }

  .category-button {
    font-size: 17px;
    margin-right: 2%;
    margin-bottom: 2%;
  }
}

/* Large devices (desktops, 992px and below) */
@media (min-width: 769px) and (max-width: 992px) {
  .menu-item {
    font-size: 24px;
  }
  .menu {
    margin-top: 25%;
  }

  .links {
    margin-top: 35%;
  }

  .category-button {
    font-size: 14px;
    margin-top: 2%;

    &:hover {
      background-color: gray !important;
      color: white !important;
      border: solid 1px gray !important;
    }
  }

  .categories-container {
    margin-top: 10%;
    display: grid;
    justify-items: end;
  }
}

/* Extra large devices (large desktops, 993px and above) */
@media (min-width: 993px) {
  .menu-item {
    font-size: 24px;
  }

  .menu {
    margin-top: 25%;
  }

  .links {
    margin-top: 35%;
  }

  .category-button {
    font-size: 14px;
    margin-top: 2%;

    &:hover {
      background-color: gray !important;
      color: white !important;
      border: solid 1px gray !important;
    }
  }

  .categories-container {
    margin-top: 10%;
    display: grid;
    justify-items: end;
  }
}
